/*CSS Reset*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*Size Restraints*/
body{
    max-width:512px;
    width:100%;
    margin: 0 auto;
}

/*VARIABILI*/

:root{
    --bg-primary: #141318;
    --bg-secondary: #1C1D22;
    --bg-tertiary: #373A43;
    --bg-footer: #2D2D35;
    --primary-txt-color: rgba(255,255,255,1);
    --secondary-txt-color: rgba(255,255,255,0.5);
}

/*Whole Application*/
.application-wrapper{
    height: 100vh;
}
/*Main*/
.main{
    height:90vh;
    padding-top:1vh;
}
/*Servers*/
.servers{
    flex-basis: 10vh;
}
/*Chats*/
.chats{
    padding: 20px 0px 0px 20px;
}
.chats-header-title{
    margin-bottom: 10px
}
.chat{
    width:100%;
}
.chat-img{
    display:block;
    width:calc(100%/10);
    aspect-ratio:1;
    border-radius:50%;
}
.chat:hover{
    color:var(--primary-txt-color);
}

/*Chats Header*/
.header-buttons{
    align-items:flex-start;
    justify-content:center;
    list-style-type:none;
    padding: 0 30px 0 0;
}

.btn.search-button{
    flex-basis:25px;
    border-radius:50%;
    padding:5px;
    border:0;
    aspect-ratio:1;
}
.btn.add-friends-button{
    width:100%;
    border-radius:10px;
    padding:5px ;
    border:0;
}

/* Footer */
.footer{
    flex-basis: 10vh;
}