/*CSS Reset*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*Size Restraints*/
body{
    max-width:512px;
    width:100%;
    margin: 0 auto;
}
/*Whole Application*/
.application-wrapper{
    height: 100vh;
}
/*Main*/
/*Sidebar*/
/*Chats*/
/* Footer */
.footer{
    flex-basis: 10vh;
}