/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Size Restraints*/
body {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
  font-family: "gg sans";
}

/*VARIABILI*/

:root {
  --bg-primary: #141318;
  --bg-secondary: #1c1d22;
  --bg-tertiary: #373a43;
  --bg-footer: #2d2d35;
  --primary-txt-color: rgba(255, 255, 255, 1);
  --secondary-txt-color: rgba(255, 255, 255, 0.5);
}

/*FONTS*/
@font-face {
  font-family: "gg sans";
  src: url(../fonts/gg\ sans\ Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "gg sans bold";
  src: url(../fonts/gg\ sans\ Bold.ttf);
  font-weight: bold;
}

/*Whole Application*/
.application-wrapper {
  height: 100vh;
}
/*Main*/
.main {
  height: 90vh;
  padding-top: 1vh;
}
/*Servers*/
.main-logo {
  width: 6vh;
  aspect-ratio: 1;
  display: block;
  position: relative;
}
.servers {
  flex-basis: 10vh;
  align-items: center;
  padding: 20px 0 0 0;
}
.server-image {
  width: 6vh;
  aspect-ratio: 1;
  display: block;
  border-radius: 50%;
}
.btn.server {
  background: none;
  border-radius: 50%;
  border: none;
  position: relative;
  transition: scale 0.3s ease;
}
.discord-logo {
  background: none;
  border: none;
  position: relative;
}
.discord-logo:hover,
.btn.server:hover {
  scale: 110%;
}
.discord-logo:hover::after,
.btn.server:hover::after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: 0;
  left: -25%;
  translate: -50% 0;
  width: 10%;
  height: 100%;
  border-radius: 5px;
}

/*Chats*/
.chats{
  position:relative;
}
.chats-header {
  padding: 0 10px 0 10px;
}
.chats-header-title {
  margin-bottom: 10px;
}
.chat-list {
  align-items: center;
  padding: 0 10px 0 10px;
}
.chat {
  align-items: center;
  flex-grow: 1;
  width: 95%;
  padding: 10px 20px 20px 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.chat:hover {
  background: var(--bg-tertiary);
}
.chat-img {
  display: block;
  width: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
.chat-card {
  position: relative;
}
.chat-card-text {
  font-size: 14px;
}
.status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  border: 3px solid var(--bg-secondary);
  background: var(--bg-secondary);
  border-radius: 50%;
  translate: -150%;
}
.chat:hover {
  color: var(--primary-txt-color);
}

/*Chats Header*/
.header-buttons {
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
  padding: 0 30px 0 0;
}

.btn.search-button {
  flex-basis: 25px;
  border-radius: 50%;
  padding: 5px;
  border: 0;
  aspect-ratio: 1;
}
.btn.add-friends-button {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: 0;
}

/*New Chat Button*/
.new-chat {
  width: calc(100 / 4);
  background: none;
  outline: none;
  border: none;
  position: relative;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  position:absolute;
  background: #5865f2;
  bottom: 0;
  right: 0;
  padding:10px;
  translate:-100% -50%;
  transition:background-color 0.3s ease;
}
.new-chat:hover {
  background: #4650be;
}
/* Footer */
.footer {
  flex-basis: 10vh;
}
.footer-button {
  width: calc(100% / 3);
  background: none;
  outline: none;
  border: none;
}
.footer-label {
  font-size: 16px;
  color: white;
  margin: 3px 0;
}
.footer-icon {
  color: white;
  font-size: 30px;
}
.profile-image {
  display: block;
  margin: 0 auto;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
