/*VARIABILI*/

:root{
    --bg-primary: #141318;
    --bg-secondary: #1C1D22;
    --bg-tertiary: #373A43;
    --bg-footer: #2D2D35;
    --primary-txt-color: rgba(255,255,255,1);
    --secondary-txt-color: rgba(255,255,255,0.5);
}

/*FLEX*/

.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-grow-1{
    flex-grow:1;
}
.flex-grow-3{
    flex-grow:3;
}
.flex-shrink-0{
    flex-shrink:0;
}
.flex-align-center{
    align-items:center;
}
.flex-column-gap-10{
    column-gap:10px;
}
.flex-row-gap-10{
    row-gap:10px;
}
.flex-row-gap-30{
    row-gap:30px;
}
.h-0{
    flex-basis:0px;
}
.overflow-auto{
    overflow:auto;
}

/*BG */

.bg-primary{
    background-color:var(--bg-primary);
}
.bg-secondary{
    background-color:var(--bg-secondary);
}
.bg-tertiary{
    background-color:var(--bg-tertiary);
}
.bg-footer{
    background-color:var(--bg-footer);
}

/*BORDER*/
.b-radius-10{
    border-radius:10px 0 0 0;
}

/*TEXT*/
.primary-text-color{
    color:var(--primary-txt-color);
}
.secondary-text-color{
    color:var(--secondary-txt-color);
}
.font-size-14{
    font-size:14px;
}

/*BUTTONS*/

.btn{
    display:block;
}

/*STATUS*/
.online{
    color: #39A65D;
}
.away{
    color: #F4A71B;
}
.do-not-disturb{
    color: #F94349;
}