:root{
    --bg-primary: #141318;
    --bg-secondary: #1C1D22;
    --bg-tertiary: #373A43;
    --bg-footer: #2D2D35;
    --primary-txt-color: rgba(255,255,255,1);
    --secondary-txt-color: rgba(255,255,255,0.5);
}

.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-grow-1{
    flex-grow:1;
}
.flex-shrink-0{
    flex-shrink:0;
}
.flex-align-center{
    align-items:center;
}
.h-0{
    height:0;
}
.bg-primary{
    background-color:var(--bg-primary);
}
.bg-secondary{
    background-color:var(--bg-secondary);
}
.bg-tertiary{
    background-color:var(--bg-tertiary);
}
.bg-footer{
    background-color:var(--bg-footer);
}